<amp-story-page id="cover">
  <amp-story-grid-layer template="fill">
    <amp-img class="overlay" src="{{ "assets/cover.webp" | absURL }}" alt=""
          width="1280" height="1780" layout="responsive">
      <amp-img fallback class="overlay" src="{{ "assets/cover.jpg" | absURL }}" alt=""
          width="1280" height="1780" layout="responsive">
      </amp-img>
    </amp-img>
  </amp-story-grid-layer>
  <amp-story-grid-layer template="vertical" class="center">
    <h1 class="title" animate-in="fly-in-left" animate-in-delay="0.2s">
      {{ .Site.Title }}
    </h1>
    <p class="subtitle" animate-in="fly-in-left" animate-in-delay="0.2s">
      By Web Stories
    </p>
    <p class="subtitle" animate-in="fade-in" animate-in-delay="0.8s">
      {{ .Site.Params.author.location }}
    </p>
  </amp-story-grid-layer>
</amp-story-page>
