<amp-story-page id="private">
  <amp-story-grid-layer template="fill">
    <amp-img
        class="overlay"
        src="{{ "/assets/private.webp" }}"
        alt=""
        width="1280" height="1805"
        layout="responsive"
        animate-in="pan-right"
        animate-in-duration="10s">
      <amp-img
          fallback
          class="overlay"
          src="{{ "/assets/private.jpg" }}"
          alt=""
          width="1280" height="1805"
          layout="responsive">
      </amp-img>
    </amp-img>
  </amp-story-grid-layer>
  <amp-story-grid-layer template="vertical">
    <h1 class="title">Private</h1>
    <p>趣味はWebプログラミング、野鳥観察、麻雀です。</p>
    <p>最近は自作PCに興味があります。HDD・メモリ・電源の交換なら経験があるので、いつの日か…！</p>
  </amp-story-grid-layer>
</amp-story-page>
