<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": {{ .Site.Title }},
    "headline": {{ .Site.Title }},
    "description": {{ .Site.Params.description }},
    "datePublished": {{ .Date.Format "2006-01-02T15:04JST" }},
    "dateModified": {{ now.Format "2006-01-02T15:04JST" }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ .Permalink }}
    },
    "image": {
      "@type": "ImageObject",
      "name": {{ .Site.Title }},
      "url": {{ index .Site.Params.images 0 | absURL }},
      "width": 1280,
      "height": 720
    },
    {{ with .Site.Params.author }}
      "author": {
        "@type": "Person",
        "name": {{ .name }}
      }
    {{ end }}
  }
</script>
