<amp-story-page id="private">
  <amp-story-grid-layer template="fill">
    <amp-img class="overlay" src="{{ "assets/private.webp" | absURL }}" alt=""
        width="1280" height="1805" layout="responsive"
        animate-in="pan-right" animate-in-duration="10s">
      <amp-img fallback class="overlay" src="{{ "assets/private.jpg" | absURL }}" alt=""
          width="1280" height="1805" layout="responsive">
      </amp-img>
    </amp-img>
  </amp-story-grid-layer>
  <amp-story-grid-layer template="vertical">
    <h1 class="title">Private</h1>
    <p>趣味は麻雀、Webのプログラミングと情報収集です。</p>
    <p>最近では新しい趣味の野鳥の撮影のために、スマホ用望遠レンズを購入するべきか悩んでいます。</p>
  </amp-story-grid-layer>
</amp-story-page>
