<amp-story-page id="profile">
  <amp-story-grid-layer template="fill">
    <amp-img src="{{ "assets/profile.jpg" | absURL }}" class="overlay" alt="" width="1280" height="1920" layout="responsive" animate-in="pan-left" animate-in-duration="10s">
    </amp-img>
  </amp-story-grid-layer>
  <amp-story-grid-layer template="vertical">
    <h1 class="title">Profile</h1>
    <p>京都府出身・在住のフロントエンドが好きな20代男性。</p>
    <p>子どもの時からPCを使って情報収集をすることが好きで、数年前にWebを支える技術を知り没頭する。</p>
    <p>現在、フロントエンドやWebマーケターなどの職種に就くことを目指している。</p>
  </amp-story-grid-layer>
</amp-story-page>
