<amp-story-page id="projects">
  <amp-story-grid-layer template="fill">
    <amp-img class="overlay" src="{{ "assets/projects.jpg" | absURL }}" alt="" width="1280" height="853" layout="responsive">
    </amp-img>
  </amp-story-grid-layer>
  <amp-story-grid-layer template="vertical">
    <h1 class="title">Projects</h1>
    <p>管理できる範囲で増やしていきたいです。</p>
    <div class="projectsContainer">
      {{ range .Site.Params.projects }}
      <a class="project" href="{{ .url | absURL }}" title="{{ .name }}">
        <div class="project_inner">
          <header>
            <h2 class="project_title">
              {{ .name }}
            </h2>
            <div class="project_usedSkills">
              <h3 class="usedSkills_title">使用スキル</h3>
              {{ range .usedSkills }}
              <span class="usedSkill">{{ . }}</span>
              {{ end }}
            </div>
            <div class="project_host">
              {{ .url | replaceRE "^https?://([^/]+).*" "$1" }}
            </div>
          </header>
          <amp-img class="project_img" src="{{ .image | absURL }}" alt="" width="96" height="96" layout="intrinsic">
          </amp-img>
        </div>
      </a>
      {{ end }}
    </div>
  </amp-story-grid-layer>
</amp-story-page>
