<amp-story-page id="skills">
  <amp-story-grid-layer template="vertical">
    <h1 class="title">Skills</h1>
    <p>PHPはProgateを修了したレベルです。</p>
    <div class="cardContainer">
      {{ range .Site.Params.skills }}
      {{ $name := .name }}
      {{ $svgPath := lower $name | printf "svg/%s.svg" }}
      <div class="card">
        <div class="card_inner">
          <h2 class="card_title">{{ .name }}</h2>
          {{ with resources.Get $svgPath }}
          {{ .Content | safeHTML }}
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </amp-story-grid-layer>
</amp-story-page>
